// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//
// Color system
//


@import './colors.scss';

// Reassign color vars to semantic color scheme
$theme-colors: (
  primary: $purple,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 640px,
  lg: 710px,
  xl: 780px,
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-700 !default;
$inverse-bg: $gray-900 !default;
$inverse-color: $gray-600 !default;

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Fonts
//
@import './fonts.scss';



html,
body {
  height: 100%;
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  margin-bottom: 15px;
  max-width: 100%;
}

img:hover {
  animation: pulse 0.5s;
}

img {
  margin-bottom: 0 !important;
}

.bg-light {
  background-color: transparent !important;
}

.navbar-collapse {
  margin-top: 10px;
  .nav-item {
    padding-left:0;
  }
}

.nav-item {
  padding: 0 12px;
  a {
    text-decoration:none;
    color: #999;
  }
  a:hover {
    color: #000;
    transition: color 500ms ease;
  }
}

.ccco-header {
  font-family: 'Belleza' !important;
  min-width: 340px;

  .ccco-logo {
    height: 50px;
    width: 50px;
  }
  
  p {
    text-transform: none !important;
    font-size: 1.5rem !important;
    font-weight: normal;
  }
  p:before {
    content: "Center City Chamber Orchestra"
  }
  

}

@media (max-width:576px)  { 


  .ccco-header p {
      text-transform: none !important;
      font-weight: normal;
      font-size: 1rem !important;
      position:relative;
      top: 12px;
      padding-left: 10px;
  }
  .ccco-header .ccco-logo {
    height: 40px;
    width: 40px;
  }
  .ccco-header p:before {
    content: "Center City";
    display: block;
  }
  .ccco-header p:after {
    content: "Chamber Orchestra";
    display: block;
  }


 }


